


<h1>{{name}}</h1>
<div class="card_country">
<div class="country">
<p>Capital: {{capital}}</p>
<p>Population: {{population}}</p>
<p>Languages</p>
<ul>{{#each languages}}
        <li>{{this.name}}</li>
    {{/each}}</ul>
</div>
<div class="country"><img src="{{flag}}" alt="flag" width="300"></div></div>
